#stages {
  overflow: hidden;
}

.stages {
  position: relative;
  top: -50px;

  @include breakpoint($breakpoint-laptop) {
    top: 0;
    margin-top: 100px;
    margin-bottom: 80px;
  }

  &__circle {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-47%, -56%);

    @include breakpoint($breakpoint-laptop) {
      width: 113%;
      transform: translate(-48%, -50%);
    }

    @include breakpoint($breakpoint-tablet-large) {
      display: none;
    }
  }

  &__line {
    @include breakpoint($breakpoint-tablet) {
      display: block;
    }
  }

  &__wrapper {
    position: relative;

    @include flex();
    flex-wrap: wrap;

    width: 85%;

    margin: 0 auto;

    @include breakpoint($breakpoint-computer) {
      width: 100%;
    }
  }
}