// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

.footer {
  @include flex();

  font-size: $font-size-5;

  @include breakpoint($breakpoint-computer) {
    font-size: $font-size-7;
  }

  @include breakpoint($breakpoint-laptop) {
    flex-wrap: wrap;
  }

  &__company {
    display: flex;
    flex-direction: column;

    @include breakpoint($breakpoint-laptop) {
      width: 50%;

      margin-bottom: 30px;
    }

    @include breakpoint($breakpoint-tablet) {
      order: 2;
      width: 100%;
    }
  }

  &__contact {
    display: flex;
    justify-content: space-between;

    @include breakpoint($breakpoint-mobile-small) {
      flex-direction: column;
    }

    & > * {
      &:not(:last-child) {
        @include breakpoint($breakpoint-mobile-small) {
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  &__logo {
    position: relative;

    @include breakpoint($breakpoint-tablet) {
      order: 1;
      margin-bottom: 50px;

      margin-left: auto;
      margin-right: auto;
    }
  }

  &__copyright {
    position: absolute;
    top: -10px;
    right: -55px;

    @include breakpoint($breakpoint-laptop) {
      right: 0;
    }

    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__privacy {
    margin-top: auto;

    .footer__link {
      justify-content: flex-end;
      color: $text-orange;

      @include breakpoint($breakpoint-tablet) {
        justify-content: flex-start;
      }
    }

    @include breakpoint($breakpoint-laptop) {
      margin-left: auto;
    }

    @include breakpoint($breakpoint-tablet) {
      order: 3;
      margin-left: 0;
    }
  }

  &__link {
    @include flex($justify: flex-start);

    cursor: pointer;
    transition: color 0.15s ease;

    &:hover {
      color: $text-orange;

      path {
        fill: $text-orange;
      }
    }

    path {
      transition: fill 0.15s ease;
    }
  }
}
