// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------
header {
  position: relative;
  background-color: $palette-white;

  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.12);

  @include breakpoint($breakpoint-tablet) {
    position: fixed;
    z-index: $z-index-header;
    top: 0;
    left: 0;
    width: 100%;
  }

  .container {
    position: relative;
  }
}

.header {
  &__row {
    @include flex();
    padding: 23px 0;

    &--underline {
      border-bottom: 1px solid #e8e8e8;

      @include breakpoint($breakpoint-tablet) {
        flex-wrap: wrap;
        border-bottom: 0;
      }
    }

    &:last-child {
      @include breakpoint($breakpoint-tablet) {
        display: none;
      }
    }
  }

  &__logo {
    @include breakpoint($breakpoint-tablet-large) {
      width: 170px;
    }

    @include breakpoint($breakpoint-tablet) {
      width: 150px;
    }
  }

  &__nav {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__communication {
    display: flex;
    margin-left: auto;

    @include breakpoint($breakpoint-tablet-large) {
      flex-direction: column;
    }

    @include breakpoint($breakpoint-tablet) {
      flex-direction: row;
      justify-content: space-between;

      width: 100%;

      margin-left: 0;
      margin-top: 20px;
    }
  }

  &__contact {
    position: relative;
  }

  &__link {
    @include flex($justify: flex-start);

    cursor: pointer;

    &:hover {
      path {
        fill: #000000;
      }
    }

    span {
      font-size: $font-size-5;

      @include breakpoint($breakpoint-computer) {
        font-size: $font-size-7;
      }

      @include breakpoint($breakpoint-tablet) {
        font-size: $font-size-8;
      }
    }

    a {
      @include breakpoint($breakpoint-tablet) {
        font-size: $font-size-8;
      }
    }

    path {
      transition: all 0.15s ease;
    }
  }

  &__copy {
  }

  &__tooltip {
    position: absolute;
    top: 0;
    right: 100%;

    margin-right: 20px;
  }

  &__button {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__hamburger {
    position: absolute;
    z-index: 10;

    top: 25px;
    right: 12px;

    display: none;

    outline: none;

    @include breakpoint($breakpoint-tablet) {
      display: block;
    }
  }
}
