.modal-info {
  .modal__title {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size-4;
      line-height: 34px;
    }

    @include breakpoint($breakpoint-mobile-medium) {
      font-size: $font-size-6;
      line-height: 23px;
    }
  }
  .modal__container {
    max-width: 80%;

    padding: 65px 25px 65px 25px;

    @include breakpoint($breakpoint-computer) {
      max-width: 90%;
    }

    @include breakpoint($breakpoint-mobile-large) {
      padding: 65px 25px 45px 25px;
    }
  }

  .modal__content {
    max-height: 500px;
    margin-top: 30px;

    overflow-y: auto;

    @include breakpoint($breakpoint-tablet) {
      max-height: 300px;
    }

    @include breakpoint($breakpoint-mobile-large) {
      margin-top: 10px;
    }

    pre {
      white-space: pre-wrap;
      font-family: OpenSans, sans-serif;
      font-size: $font-size-4;

      @include breakpoint($breakpoint-computer) {
        font-size: $font-size-6;
      }

      @include breakpoint($breakpoint-tablet) {
        font-size: $font-size-7;
        line-height: 24px;
      }

      @include breakpoint($breakpoint-mobile-large) {
        font-size: $font-size-8;
        line-height: 24px;
      }
    }
  }
}
