// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Выбор"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

$select__bg: #f9f9f9;
$select__hover: #a5a5a5;
$select__active: #a5a5a5;

@import "select";
