.form {
  display: flex;
  flex-direction: column;

  &__button {
    max-width: 200px;
  }

  &__info {
    font-size: $font-size-6;
    transition: all 0.15s ease;

    margin-top: -20px;

    opacity: 0;
    visibility: hidden;

    @include breakpoint($breakpoint-tablet-large) {
      font-size: 12px;

      text-align: center;
    }

    &--show {
      margin-top: 25px;

      opacity: 1;
      visibility: visible;
    }

    &--error {
      color: $text-red;
    }

    &--accept {
      color: $text-green;
    }
  }
}
