.calculator-advanced {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($breakpoint-mobile-large) {
    flex-direction: column;
  }

  &__extra {
    display: flex;
    align-items: center;

    margin-bottom: -60px;

    visibility: hidden;
    opacity: 0;

    transition: all 0.15s ease;

    &--visible {
      margin-bottom: 0;
      visibility: visible;
      opacity: 1;
    }
  }

  &__info {
    position: relative;
  }

  &__icon {
    width: 18px;
    height: 18px;

    cursor: help;
  }

  &__tooltip {
    position: absolute;
    bottom: 100%;
    left: 20px;

    max-width: 520px;
  }
}