.calculator-total {
  &__service {
    display: flex;
    align-items: baseline;

    opacity: 0;
    visibility: hidden;

    font-size: $font-size-4;

    transition: all 0.15s ease;

    @include breakpoint($breakpoint-computer) {
      font-size: $font-size-7;
    }

    @include breakpoint($breakpoint-tablet-large) {
      font-size: $font-size-8;
    }

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__value {

  }

  &__size {
    &::after {
      content: " м²";
    }
  }

  &__price {
    &::after {
      content: " ₽";
    }
  }

  &__dots {
    flex: 1;
    overflow: hidden;

    color: #a5a5a5;
  }
}