#calculator {
  padding-top: 160px;

  background-color: $palette-gray;

  @include breakpoint($breakpoint-tablet) {
    padding-top: 70px;
  }

  .container {
    overflow: hidden;
    border-radius: 12px;
    padding: 48px;

    background-color: $palette-white;

    @include breakpoint($breakpoint-mobile-large) {
      padding: 15px;
      border-radius: 0;
    }
  }
}

.calculator {
  margin-top: 90px;

  @include breakpoint($breakpoint-mobile-large) {
    margin-top: 30px;
  }

  &__group {
    &:not(:last-child) {
      margin-bottom: 70px;

      @include breakpoint($breakpoint-computer) {
        margin-bottom: 50px;
      }
    }
  }

  &__title {
    margin-bottom: 25px;
    font-weight: $weight-medium;
    font-size: 27px;

    @include breakpoint($breakpoint-computer) {
      margin-bottom: 20px;
      font-size: 21px;
    }

    @include breakpoint($breakpoint-mobile-large) {
      font-size: 18px;
    }
  }
}
