#calculator {
  padding-top: 160px;

  background-color: $palette-gray;

  @include breakpoint($breakpoint-tablet) {
    padding-top: 70px;
  }

  .container {
    overflow: hidden;
    border-radius: 12px;
    padding: 48px;

    background-color: $palette-white;

    @include breakpoint($breakpoint-mobile-large) {
      padding: 15px;
      border-radius: 0;
    }
  }
}

.calculator {
  margin-top: 90px;
}
