.calculator-total {
  margin-bottom: 30px;

  &__service {
    display: none;
    align-items: baseline;

    opacity: 0;
    visibility: hidden;

    font-size: $font-size-4;

    transition: all 0.15s ease;

    &:not(:last-child) {
      margin-bottom: 20px;

      @include breakpoint($breakpoint-computer) {
        margin-bottom: 15px;
      }
    }

    @include breakpoint($breakpoint-computer) {
      font-size: $font-size-7;
    }

    @include breakpoint($breakpoint-tablet-large) {
      font-size: $font-size-8;
    }

    &--visible {
      display: flex;
      opacity: 1;
      visibility: visible;
    }
  }

  &__value {
  }

  &__size {
    &::after {
      content: " м²";
    }
  }

  &__price {
    &::after {
      content: " ₽";
    }
  }

  &__dots {
    flex: 1;
    overflow: hidden;

    color: #a5a5a5;
  }
}
