#calculator {
  padding-top: 160px;

  background-color: $palette-gray;

  .container {
    overflow: hidden;
    border-radius: 12px;
    padding: 48px;

    background-color: $palette-white;
  }
}

.calculator {
  margin-top: 90px;
}
