.calculator-advanced {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($breakpoint-mobile-large) {
    flex-direction: column;
  }

  &__extra {
    display: flex;
    align-items: center;

    margin-bottom: -60px;

    visibility: hidden;
    opacity: 0;

    transition: all 0.15s ease;

    &--visible {
      margin-bottom: 0;
      visibility: visible;
      opacity: 1;
    }
  }

  &__info {
    position: relative;
  }

  &__icon {
    width: 18px;
    height: 18px;

    cursor: help;
  }

  &__tooltip {
    position: absolute;
    bottom: 100%;
    left: 20px;

    max-width: 520px;

    @include breakpoint($breakpoint-mobile-large) {
      right: -45px !important;
      left: unset !important;

      width: 300px;

      font-size: $font-size-8;
    }

    @include breakpoint($breakpoint-mobile-large) {
      right: unset !important;
      bottom: 35px;
      left: -130px !important;

      width: 280px;

      border-radius: 16px;
    }
  }
}
