.calculator-paint {
  opacity: 0;
  visibility: hidden;

  transition: all 0.15s ease;

  &--visible {
    opacity: 1;
    visibility: visible;
  }

  &__palette {
    display: flex;
    flex-wrap: wrap;
  }

  &__color {
    width: 30px;
    height: 30px;

    border-radius: 5px;
    margin-bottom: 12px;

    transition: all 0.15s ease;

    @include unique() {
      margin-bottom: 0;

      border: 1px solid #a5a5a5;
    }

    @include breakpoint($breakpoint-computer) {
      width: 25px;
      height: 25px;

      margin-bottom: 8px;
    }

    &:not(:nth-child(6n)) {
      margin-right: 12px;

      @include breakpoint($breakpoint-computer) {
        margin-right: 8px;
      }
    }

    &:not(:only-child) {
      background-color: #a5a5a5;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__current {
    @include flex($justify: flex-start);

    margin-bottom: 32px;
    font-size: $font-size-4;

    @include breakpoint($breakpoint-computer) {
      font-size: $font-size-7;
    }
  }
}
