.tooltip {
  z-index: 1000;
  border-radius: 16px 0 16px 16px;

  width: max-content;

  padding: 20px;

  color: $text-white;
  background-color: $tooltip__bg;

  line-height: 25px;

  visibility: hidden;
  opacity: 0;

  transition: all 0.15s ease;

  &--visible {
    visibility: visible;
    opacity: 1;
  }

  &__important {
    color: $text-orange;
  }
}
