// Основной цвет
// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-gray: #f3f3f3;

// Цветовая палитра текста
$text-darkblue: #1b183a;
$text-black: #000000;
$text-gray: #a5a5a5;
$text-white: #ffffff;
$text-orange: #f67601;
$text-red: #ff0000;
$text-green: #b4d100;
