.portfolio-slider {
  overflow: visible;

  .swiper-slide {
    width: calc((100% / 4) - 30px);

    @include breakpoint($breakpoint-computer) {
      width: calc((100% / 3) - 30px);
    }
  }

  &-prev,
  &-next {
    top: 45%;

    outline: none;
    transition: all 0.15s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  &-prev {
    left: -35px;

    @include breakpoint($breakpoint-computer) {
      left: -30px;
    }

    &::after {
      content: url("../img/icons/control/slider__left.svg");
    }
  }

  &-next {
    right: -35px;

    @include breakpoint($breakpoint-computer) {
      right: -30px;
    }

    &::after {
      content: url("../img/icons/control/slider__right.svg");
    }
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }
}
